/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1100px;
  padding: 0 15px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

.flash-wrapper {
  margin:70px 0px 0px 0px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 200px;
  margin-top: 15px;
  color: white;
  font-size: 25px;
  letter-spacing: 2px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  transition: all 0.5s;
}


.header-right .signup {
  line-height: 65px;
  padding: 0 20px;
  color: white;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.header-right .signup:hover {
  color: lightgray;
  transition: all 0.5s;
}

.header-right .login {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  margin-left: 5px;
  cursor: pointer;
  display: inline-block;
}

.header-right .login:hover {
  color: lightgray;
  transition: all 0.5s;
}

/*----------------- sign login form ---------------------*/ 

.signup_login_form {
  margin-top: 130px;
}

.signup_login_form .form-group {
  margin-bottom: 30px;
}

.submit {
  background-color: rgba(34,49,52,0.9);
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

.submit:hover {
  background-color: white;
  color: rgb(34,49,52);
  border: 1px solid rgb(34,49,52);
  transition: all 0.8s;
}