// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*----------------- header ---------------------*/ 
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 200px;
  margin-top: 15px;
  color: white;
  font-size: 25px;
  letter-spacing: 2px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  transition: all 0.5s;
}


.header-right .signup {
  line-height: 65px;
  padding: 0 20px;
  color: white;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.header-right .signup:hover {
  color: lightgray;
  transition: all 0.5s;
}

.header-right .login {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  margin-left: 5px;
  cursor: pointer;
  display: inline-block;
}

.header-right .login:hover {
  color: lightgray;
  transition: all 0.5s;
}

/*----------------- sign login form ---------------------*/ 

.signup_login_form {
  margin-top: 130px;
}

.signup_login_form .form-group {
  margin-bottom: 30px;
}

.submit {
  background-color: rgba(34,49,52,0.9);
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

.submit:hover {
  background-color: white;
  color: rgb(34,49,52);
  border: 1px solid rgb(34,49,52);
  transition: all 0.8s;
}

